<h1>Các câu hỏi của {{quizTitle}}</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">
                <button mat-raised-button color="accent" routerLink="/admin/add-question/{{quizId}}/{{quizTitle}}">Thêm câu hỏi mới </button>
            </div>
            <mat-card *ngFor="let question of questions; let i = index" class="mt-20 my-card">
                <mat-card-content>
                    <!-- vì cái ckeditor sẽ prifnt ra 1 đoạn html để cấu hình các kiểu chữ chứ ko phải text thường lên phải dùng innerHTML -->
                    <strong>Câu {{i+1}}: </strong><span [innerHTML]="question.content"></span>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6"><p>A: {{question.option1}}</p></div>
                            <div class="col-md-6"><p>B: {{question.option2}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><p>C: {{question.option3}}</p></div>
                            <div class="col-md-6"><p>D: {{question.option4}}</p></div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <strong>Đáp án: {{question.answer}} </strong>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="accent">Cập nhật câu hỏi</button>
                    <button mat-button color="warn" (click)="deleteQuestion(question.id)">Xoá câu hỏi</button>
                </mat-card-actions>              
            </mat-card>

        </div>
    </div>
</div>
